@tailwind base;
@tailwind components;
@tailwind utilities;

*
{
    margin:0px;
    padding-top:0px;
    box-sizing: border-box;;

}
.run
{
    width:100%;
    height:100vh;

}
.moneyScreen
{
    position:relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:340px;
    text-align: center;
    padding-bottom:350px

}
.moneyForm
{
    position: relative;
    box-sizing: border-box;
    padding:60px 30px;
    transition: 0.5s;
}
.moneyForm:hover{
    background: rgba(220, 100, 241, 0.169);
    box-shadow: rgba(128, 99, 118, 0.154);
    border-radius: 30px;
}
.moneyForm h3
{
    margin: 0 0 20px;
    font-size: 30px;
    font-weight: bold;
    padding-bottom:30px;
}
.moneyForm input{
    display: block;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border-radius: 25px;
    outline:none;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border:none;
}
.moneyForm a{
    display: block;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border-radius: 25px;
    outline:none;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border:none;
    background: rgba(105, 11, 89, 0.868)
}
.moneyForm a:hover{
    background: rgba(127, 13, 108, 0.868)
}
/* .run
{
    top:0;
    left:0;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.run h3
{
    display:flex;
    font-size: 50px;
    padding-bottom:300px;
    font-weight: bold;
}
.run a{
    display: flex;
    padding-top:200px;
} */

.start
{
    font-family: 'Quicksand', sans-serif;
    font-family: 'Teko', sans-serif;
    background-image: url("moon.jpeg");
    background-size: cover;
    width:100%;
    min-height: 100vh;
    position: absolute;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    

}

.start h1{
    font-size: 45px;
    color:black;
    font-weight: 400;
    z-index: 1;
}
.start p{
    font-size: 16px;
    color:black;
    z-index: 1;
}
.start a{
    text-decoration: none;
    margin-top: 20px;
    font-size: 19px;
    display:inline-block;
    letter-spacing: 2px;
    padding: 12px 20px;
    background-color: #7d2ae8;
    border-radius: 5px;
    color:black;
    z-index: 2;
}



.start a:hover{
  
    background: #8b46e5;
    cursor: pointer;
}

.service
{
    background-image: url("section2.webp");
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service .about
{
    width: 50%;
}
.about a{
    text-decoration: none;
    margin-top: 20px;
    font-size: 19px;
    display:inline-block;
    letter-spacing: 2px;
    padding: 12px 20px;
    background-color: #7d2ae8;
    border-radius: 5px;
    color:black;
    z-index: 2;
}

.about a:hover{
  
    background: #8b46e5;
    cursor: pointer;
}
.about h2{
    font-size: 40px;

}
.left p
{
    font-size: 16px;
    color:grey;
    padding-block: 20px;
}
.right{
    width: 50%;
}
.right img{
    width: 100%;
    height: 100%;
}


html
{
    scroll-snap-type: y mandatory;
    scroll-padding: -100px ;
    scroll-snap-align: bottom;

  }



.splash
{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: black;
    z-index:100000;
    color:white;
    text-align: center;
    line-height: 90vh;
    
}


.splash.display-none
{
    display: none;
}

@keyframes fadeIn {
    to{
        opacity: 1;
    }
}

.fade-in
{
    opacity:0;
    animation: fadeIn 1s ease-in forwards;
}

section{
    scroll-snap-align: start;
    scroll-snap-stop: always;
    scroll-margin-top: 31px;
    height:100vh;
    width: 100vw;
    padding-bottom: 0%;
    margin-top:-20px;
    margin-bottom: 0px;
    padding-top: 0px;
}
  
/* #section0
{
    background-image:url(section\ 1.webp);
}
#section1
{
    background-color: blue;
}
#section2
{
    background-color: red;
}
#section3
{
    background-color: yellow;
}
#section4
{
    background-color: purple;
} */



/* .home-section
{
    width:100%;
    height:100%;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(pc\ background.jpeg);
    background-size:cover;
    background-position: center;
}


