
  
 
#info
{ 
    
    margin-top:10px;
    background-size: cover;
    background-position: center;
    display: flex;
   
    
    
    /* max-width: 10vw;
    max-height: 100vh; */
    /* position:relative; 
    display:flex;
    align-items: center;
    justify-content: center; */

}
body{
    background-color: antiquewhite;
}
.video video {
    position:absolute;
    margin:0;
    right: 0;
    bottom: 0;
    width: 100%;
    height:100%;
    z-index: -1;
}
.vidText .animation
{
    margin-left: 15px;
    line-height: 90px;
    
    height:90px;
    overflow: hidden;

}

.video{
    background: antiquewhite;
}

.animation li::after
{
    background-color: antiquewhite;
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-left: 2px solid red ;
    left:0;
    animation: typing 3s steps(10) infinite;
}

@keyframes typing
{
    40%,
    60%
    {
        left: calc(130px);
    }

    100%
    {
        left:0;
    }

}

.animation li
{
    list-style: none;
    color: red;
    position:relative;
    top:0;
    animation: slide 12s steps(4) infinite;
}

@keyframes slide {
    100%
    {
        top:-360px;
    }
}
.animation li{
    position: relative;
}
h1{
    color:black;
    font-size: 5rem;
    font-weight: 700;
    letter-spacing:6px;
    margin-bottom:2rem;

}
h2{
    color:grey;
    font-size: 4rem;
    font-weight:400;
}

.vidText p{
    font-size : 10px;
    font-weight:100;
    color: white;
    line-height: 5rem;
    margin-bottom:10px;
    white-space:nowrap;
    

}
.vidText {
   
    
    z-index:2;
    
    /* bottom: 50%;
    left: 50%; */
    
    color: white;
    font-size: 34px;
    font-weight: 600;
    min-width: 280;
    flex-direction: column;
    position: absolute;
    top: 40%;
    left: 60%;
    transform: translate(-50%, -50%);
    
  
}
.btn
{
    display: inline-block;
    padding:10px 15px;
    color:green;
    background: white;
    font-size:20px;
    text-decoration: none;
    border-radius: 10px;
    transition: background 0.5s;
}
.btn:hover{
    background: rgb(211, 208, 208);
}

#myBtn
{
    z-index:2;
    position: absolute;
  top: 68px;
  right: 16px;

}

/* .vidText span{
    position: relative;
}

.vidText span::before
{
    content: "PC";
    color: red;
    animation: word 20s infinite;
}

.vidText span ::after{

    content: "";
    position: absolute;
    width: calc(100%-8px);
    height: 100%;
    background-color: #2f3542;
    border-left: 2px solid red;
    right: -8px;
    animation: cursor .8s infinite, typing 20s steps(14) infinite;

} */
/* @keyframes cursor {
    to
    {
        border-left: 2px solid #ff7f5000;
    }
}
@keyframes word {
    0%,20%{
        content: "PC";
    }
    21%,40%{
        content: "SETUP";
    }
    41%,60%{
        content: "DREAM";
    }
    61%,80%{
        content: "HOME";
    }
    81%,100%{
        content: "CHAMPION";
    }
}

@keyframes typing {
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100%-8px);
    }
} */




  
  
#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
    position:absolute;
    z-index: 2;
    opacity: 0.8;
    border-radius: 20px;
  }
  
  #myBtn:hover {
    background: #ddd;
    color: black;
  }