[data-tab-content] {
    display: none;
  }
  
  .active[data-tab-content] {
    display: block;
  }
  
  body {
    padding: 0;
    margin: 0;
  }
  #hidden
  {
    display:none;
  }
  .tabs {
    
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid black;
    position: fixed;
    width:100%;
    background: white;
  }
  
  .tab {
    cursor: pointer;
    padding: 10px;
  }
  
  .tab.active {
    background-color: #CCC;
  }
  
  .tab:hover {
    background-color: #AAA;
  }
  
 nav
  {
    position:relative;
    font-weight: bold;
    height: 30px;
    z-index: 3;
    
  }
  
  .tab-content {
    margin-top: 0px;
  }

