*
{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
.welcome
{
    background-image: url("grey.jpeg");
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    position:absolute;
    display:flex;
    align-items: center;
    justify-content: center;

}

.profile-card
{
    width:90%;
    max-width: 450px;
    text-align: center;
    background: #fff;
    color:#333;
}
.cover-pic
{
    display: block;
    width: 100%;
    

}
.welcome.display-none
{
    display:none;
}
.welcome a{
    display:flex;
    text-align: center;
    justify-content: center;
    
    font-size: 30px;
}

.profile-pic
{
    width: 140px;
    border-radius: 50%;
    margin-top: -70px; 
    margin-bottom:10px;
    /* margin-left:30%; */
    
}